@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #fff0dc;
	--foreground: #131010;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #131010;
		--foreground: #fff0dc;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
}
