@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #fff0dc;
	--foreground: #131010;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #131010;
		--foreground: #fff0dc;
	}
}

html {
	overflow: scroll;
	overflow-x: hidden;
}
::-webkit-scrollbar {
	width: 0; /* Remove scrollbar space */
	background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
	background: #ff0000;
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
}
